<div class="container">
  <div class="row col-md-3 div-imagem">
      <a class="thumbnail thumbnail-imagem">
        <img id="image" class="imagem">
      </a>
  </div>

  <div class="row col-md-6 col-md-offset-1">
    <h1>Validação de formulário</h1>
    <div class="alert alert-danger" *ngFor="let nome of attr" role="alert">
      {{ nome }} invalido
    </div>
    <form [formGroup]="pessoa" (ngSubmit)="onSubmit(pessoa)">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="nome">
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" formControlName="cpf" placeholder="CPF">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="email">
      </div>
      <div class="form-group">
        <input class="form-control" id="foto" type="file" (change)="rendererImage($event)">
      </div>
      <button class="btn btn-default">Enviar</button>
    </form>
  </div>

  <div class="row col-md-2"></div>

</div>
